<form>
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <label for="password">Password</label>
    <input id="password" type="text" formControlName="password">
    <label for="passwordRepeat">Repeat password</label>
    <input id="passwordRepeat" type="text" formControlName="passwordRepeat">
  </div>
  <button type="submit" class="primary">Register</button>
</form>